body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	color: #333;

}

*,
*:after,
*:before {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/*CONTAINER*/
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/*INTRO*/
.intro {
	width: 100%;
	height: 100vh;

	background-color: #fff;
}

/*HEADER*/
.header {
	width: 100%;
	background-color: #2a3551;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.header_inner {
	display: flex;
	justify-content: space-between;
}

.contact {
	padding-top: 26px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

/*LOGO*/
.logo {
	padding-top: 12px;
	padding-bottom: 12px;
}

/*NAME*/
.name {
	padding-top: 14px;
	padding-bottom: 14px;
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

.header_block {
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.social {
	display: flex;
}

.social--header {
	 justify-content: center;
}

.social_item {
	padding-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	margin-right: 10px;

	background-color: transparent;

	transition: background .1s linear;
}

.social_item:hover .social_icon {
	fill: #00ccff;
}

.social_icon {
	display: block;
	height: 20px;

	fill: #fff;

	transition: fill .1s linear;
}

/*NAV*/
.header2 {
	width: 100%;
	background-color: #d8dfea;

	top: 0;
	left: 0;
	right: 0;
}

.nav {
	width: 100%;
	max-width: 1200px;

	margin-top: 65px;
	padding-top: 40px;
	padding-bottom: 8px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}

.nav_link {
	margin-right: 20px;

	color: #2a3551;
	text-decoration: none;


	transition: color 0.1s linear;
}

.nav_link:hover {
	color: #00ccff;
	text-decoration: none;
}

/*PICS*/
.pics {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 8px;
	margin-top: 20px;
	height: 63vh;
	width: 100%;
}

/*LINK*/

.link {
	margin-top: 20px;
	padding-bottom: 21px;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	text-transform: uppercase;
}

.nav_link1 {
	display: inline-block;
	vertical-align: top;
	margin-left: 13px;
	margin-right: 14px;
	position: relative;

	color: #fff;
	border: 3px solid #2a3551;
	background-color: #2a3551;
	text-decoration: none;

	transition: color 0.1s linear;
}

.nav_link1:hover {
	background-color: #d8dfea;
	border: 3px solid #d8dfea;
	color: #2a3551;
	text-decoration: none;
}

.nav_link1:hover:after {
	opacity: 1;
	text-decoration: none;
}

.popular {
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0;
}

.popular_item {
	width: 50%;
	padding: 0 35px 40px 85px;
	margin: 20px 0;

	text-align: center;
}

.popular_item--border {
	border-bottom: 1px solid #e5e5e5;
}

.popular_icon {
	margin-bottom: 20px;
}

.popular_title {
	margin-bottom: 20px;
	text-align: left;

	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	color: #2d3033;
	font-weight: 700;
	text-transform: uppercase;
}

.popular_text {
	font-size: 15px;
	line-height: 1.5;
	color: #54595f;
	text-align: left;

	font-family: 'Open Sans', sans-serif;
}

.section_header {
	width: 100%;
	max-width: 950px; 
	margin: 0 auto 20px;
	margin-top: 40px;

	text-align: center;
}

.section_title {
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
}

/*FOOTER*/
.footer {
	padding: 12px 0;
	background-color: #2a3551;
	background-size: cover;
}

.footer_block {
	font-family: 'Raleway', sans-serif;
	width: 100%;
	padding: 0 12px;

	text-align: center;
}

.footer_title {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}


.text {
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0;
}

.text_item {
	width: 100%;
	padding: 0 35px 40px 85px;
	margin: 20px 0;

	text-align: center;
}

.text_item--border {
	border-bottom: 1px solid #e5e5e5;
}

.text_icon {
	margin-bottom: 20px;
}

.text_title {
	margin-bottom: 20px;
	text-align: left;

	font-size: 30px;
	color: #2d3033;
	font-weight: 700;
	text-transform: uppercase;
}

.text_text {
	font-size: 15px;
	line-height: 1.5;
	color: #54595f;
	text-align: left;

	font-family: 'Open Sans', sans-serif;
}

.sub {
	color: #787f87;
	margin-left: 20px;
}

.bold {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #333;
}

.nav_link1-1 {
	margin-bottom: 50px;
}

.sub2 {
	color: #93999f;
	margin-left: 50px;
}

.bold {
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	color: #333;
}

.pass {
	margin-left: 35px;
}

.pass_title {
	margin-top: 35px;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	color: #333;
	text-transform: uppercase;
}

.text_text--border {
	border-bottom: 2px solid #93999f;
	margin-bottom: 25px;
}

.pass_name {
	color: #333;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

.title_mini {
	margin-bottom: 20px;
	text-align: left;

	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	color: #2d3033;
	font-weight: 700;
	text-transform: uppercase;
}

.button {
	display: inline-block;
	vertical-align: top;
	padding: 7px 30px;

	border: 3px solid #333;
	border-radius: 5px;

	font-size: 13px;
	font-weight: 600;
	color: #333;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin-left: 50px;
	margin-top: 30px;

	transition: background .1s linear, color .1s linear;
}

.button:hover {
	border: 3px solid #2a3551;
	background-color: #2a3551;
	color: #fff;
	text-decoration: none;
}

.space {
	margin: 3px;
}

.video {
	border: 8px solid #2a3551;
	margin-left: 80px;
	margin-top: 50px;
	max-height: 1200px;
	height: 300px;
	display: flex;
	justify-content: center;
	max-width: 700px;
	width: 700px;
}