body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	color: #333;

}

*,
*:after,
*:before {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/*CONTAINER*/
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/*INTRO*/
.intro {
	width: 100%;
	height: 100vh;

	background-color: #fff;
}

/*HEADER*/
.header {
	width: 100%;
	background-color: #2a3551;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.header_inner {
	display: flex;
	justify-content: space-between;
}

.contact {
	padding-top: 26px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

/*LOGO*/
.logo {
	padding-top: 12px;
	padding-bottom: 12px;
}

/*NAME*/
.name {
	padding-top: 14px;
	padding-bottom: 14px;
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

.header_block {
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.social {
	display: flex;
}

.social--header {
	 justify-content: center;
}

.social_item {
	padding-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	margin-right: 10px;

	background-color: transparent;

	transition: background .1s linear;
}

.social_item:hover .social_icon {
	fill: #00ccff;
}

.social_icon {
	display: block;
	height: 20px;

	fill: #fff;

	transition: fill .1s linear;
}

/*NAV*/
.header2 {
	width: 100%;
	background-color: #d8dfea;

	top: 0;
	left: 0;
	right: 0;
}

.nav {
	width: 100%;
	max-width: 1200px;

	margin-top: 65px;
	padding-top: 40px;
	padding-bottom: 8px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}

.nav_link {
	margin-right: 20px;

	color: #2a3551;
	text-decoration: none;


	transition: color 0.1s linear;
}

.nav_link:hover {
	color: #00ccff;
	text-decoration: none;
}

/*PICS*/
.pics {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 8px;
	margin-top: 20px;
	height: 63vh;
	width: 100%;
}

/*LINK*/

.link {
	margin-top: 20px;
	padding-bottom: 21px;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	text-transform: uppercase;
}

.nav_link1 {
	display: inline-block;
	vertical-align: top;
	margin-left: 13px;
	margin-right: 14px;
	position: relative;

	color: #fff;
	border: 3px solid #2a3551;
	background-color: #2a3551;
	text-decoration: none;

	transition: color 0.1s linear;
}

.nav_link1:hover {
	background-color: #d8dfea;
	border: 3px solid #d8dfea;
	color: #2a3551;
	text-decoration: none;
}

.nav_link1:hover:after {
	opacity: 1;
	text-decoration: none;
}

.popular {
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0;
}

.popular_item {
	width: 50%;
	padding: 0 35px 40px 85px;
	margin: 20px 0;

	text-align: center;
}

.popular_item--border {
	border-bottom: 1px solid #e5e5e5;
}

.popular_icon {
	margin-bottom: 20px;
}

.popular_title {
	margin-bottom: 20px;
	text-align: left;

	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	color: #2d3033;
	font-weight: 700;
	text-transform: uppercase;
}

.popular_text {
	font-size: 15px;
	line-height: 1.5;
	color: #54595f;
	text-align: left;

	font-family: 'Open Sans', sans-serif;
}

.section_header {
	width: 100%;
	max-width: 950px; 
	margin: 0 auto 20px;
	margin-top: 40px;

	text-align: center;
}

.section_title {
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
}

/*FOOTER*/
.footer {
	padding: 12px 0;
	background-color: #2a3551;
	background-size: cover;
}

.footer_block {
	font-family: 'Raleway', sans-serif;
	width: 100%;
	padding: 0 12px;

	text-align: center;
}

.footer_title {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}


.text {
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0;
}

.text_item {
	width: 100%;
	padding: 0 35px 40px 85px;
	margin: 20px 0;

	text-align: center;
}

.text_item--border {
	border-bottom: 1px solid #e5e5e5;
}

.text_icon {
	margin-bottom: 20px;
}

.text_title {
	margin-bottom: 20px;
	text-align: left;

	font-size: 30px;
	color: #2d3033;
	font-weight: 700;
	text-transform: uppercase;
}

.text_text {
	font-size: 15px;
	line-height: 1.5;
	color: #54595f;
	text-align: left;

	font-family: 'Open Sans', sans-serif;
}

.sub {
	color: #787f87;
	margin-left: 20px;
}

.bold {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #333;
}

.nav_link1-1 {
	margin-bottom: 50px;
}

.sub2 {
	color: #93999f;
	margin-left: 50px;
}

.bold {
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	color: #333;
}

.pass {
	margin-left: 35px;
}

.pass_title {
	margin-top: 35px;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	color: #333;
	text-transform: uppercase;
}

.text_text--border {
	border-bottom: 2px solid #93999f;
	margin-bottom: 25px;
}

.pass_name {
	color: #333;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

.title_mini {
	margin-bottom: 20px;
	text-align: left;

	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	color: #2d3033;
	font-weight: 700;
	text-transform: uppercase;
}

.button {
	display: inline-block;
	vertical-align: top;
	padding: 7px 30px;

	border: 3px solid #333;
	border-radius: 5px;

	font-size: 13px;
	font-weight: 600;
	color: #333;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin-left: 50px;
	margin-top: 30px;

	transition: background .1s linear, color .1s linear;
}

.button:hover {
	border: 3px solid #2a3551;
	background-color: #2a3551;
	color: #fff;
	text-decoration: none;
}

.space {
	margin: 3px;
}

.video {
	border: 8px solid #2a3551;
	margin-left: 80px;
	margin-top: 50px;
	max-height: 1200px;
	height: 300px;
	display: flex;
	justify-content: center;
	max-width: 700px;
	width: 700px;
}

.home-box {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	font-size: 16px;
	outline: none;
	padding: 0;
}

.custom-box {
	max-width: 700px;
	background-color: #d8dfea;
	margin: 40px auto;
	padding: 30px;
	border-radius: 10px;
	animation: fadeInRight 1s ease;
}

@keyframes fadeInRight{
	0%{
		transform: translateX(40px);
		opacity: 0;
	}
	100%{
		transform: translateX(0px);
		opacity: 1;
	}
}

.custom-box::before,
.custom-box::after{
	content: '';
	clear: both;
	display: table;
}

.custom-box.hide{
	display: none;
}

.home-box h2{
	font-size: 25px;
	color: #000000;
	font-weight: 500;
	margin-bottom: 15px;
	line-height: 25px;
}

.home-box p{
	font-size: 16px;
	margin-bottom: 10px;
	line-height: 22px;
	color: #000000;
	font-weight: 400;
}

.home-box p span{
	font-weight: 500;
}

.home-box .btn{
	margin-top: 20px;
}

.btn {
	padding: 15px 45px;
	background-color: #009688;
	border: none;
	color: #ffffff;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
}
.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn,
.quiz-box .answers-indicator{
	width: 100%;
	float: left;
}
.quiz-box .question-number {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #009688;
	font-weight: 600; 
	border-bottom: 2px solid #cccccc;
	padding-bottom: 10px;
	line-height: 25px;
	display: inline-block;
}
.quiz-box .question-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	color: #000000;
	line-height: 28px;
	font-weight: 400;
	padding: 20px 0;
	margin: 0;
}

.quiz-box .option-container .option{
	font-family: 'Montserrat', sans-serif;
	background-color: #cccccc;
	padding: 15px;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
	border-radius: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	text-transform: capitalize;
	opacity: 0;
	animation: fadeIn 0.3s ease forwards;
	position: relative;
	overflow: hidden;
}

.quiz-box .option-container .option.already-answered{
	pointer-events: none;
}

@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.quiz-box .option-container .option.correct::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #00cc00;
	z-index: -1;
	animation: slideInLeft .5s ease forwards
}

@keyframes slideInLeft{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(0%);
	}
}

.quiz-box .option-container .option.normal::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #ffff4d;
	z-index: -1;
	animation: slideInLeft .5s ease forwards
}

.quiz-box .option-container .option.wrong::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #ff0000;
	z-index: -1;
	animation: slideInLeft .5s ease forwards
}

.quiz-box .option-container .option.normal{
	color: #2a3551;
}

.quiz-box .option-container .option.wrong{
	color: #2a3551;
}

.quiz-box .option-container .option.correct{
	color: #2a3551;
}

.quiz-box .btn{
	margin: 15px 0;
}
.quiz-box .answers-indicator {
	border-top: 2px solid #cccccc;
}
.quiz-box .answers-indicator div{
	height: 40px;
	width: 40px;
	display: inline-block;
	background-color: #cccccc;
	border-radius: 50%;
	margin-right: 3px;
	margin-top: 15px;
}

.quiz-box .answers-indicator div.correct{
	background-color: #00cc00;
}
.quiz-box .answers-indicator div.wrong{
	background-color: #ff0000;
}
.quiz-box .answers-indicator div.normal{
	background-color: #ffff4d;
}

.result-box {
	text-align: center;
}

.result-box.hide{
	display: none;
}

.result-box h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	line-height: 42px;
	color: #009688;
}
.result-box h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	line-height: 30px;
}

.total-score {
	margin: 20px;
	padding: 15px;
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	background-color: #2a3551;

}

.result-box .btn{
	margin-right: 20px;
}
.res-text {
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin: 30px 0;
}

@media (max-width: 1200px) {
	.name {
		padding-top: 18px;
		padding-bottom: 18px;
		font-size: 30px;
	}
	.logo {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.contact {
		padding-top: 28px;;
		font-size: 15px;
	}
	.social_item {
		padding-top: 55px;
	}
	.nav {
		font-size: 10px;
	}
	.pics {
		height: 40vh;
	}
	.link {
		margin-top: 18px;
		padding-bottom: 19px;
		font-size: 11px;
	}
	.nav_link1 {
		margin-left: 6px;
		margin-right: 5px;
	}
	.section_title {
		font-size: 40px;
	}
	.section_header { 
		margin: 0 auto 18px;
		margin-top: 25px;
	}
	.popular {
		margin: 5px 0;
	}
	.popular_item {
		padding: 0 30px 35px 80px;
		margin: 15px 0;
	}
	.popular_icon {
		margin-bottom: 20px;
	}

	.popular_title {
		font-size: 28px;	
	}
}	
